<!-- <!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<% include ../partialadmin/adminhead %>
<body>
    <!-- Left Panel -->
    <% include ../partialadmin/adminsidebar %>
    <!-- Left Panel -->

    <!-- Right Panel -->

    <div id="left-panel" class="left-panel">

        <!-- Header-->
      <% include ../partialadmin/admintopbar %>
      <div class="col-sm-12">
        <!-- Header-->

        <h1>Tour</h1>
        <form class="" action="/Tour/tourA" method="post">


        <label for="categories">Category</label>

        <label for="categories">Category</label>
        <select class="categories" name="categories">
          <option value="Eat">Popular Place</option>
        <option value="Drink">World Heritage Sites</option>

        </select><p>
        <label for="title">Title</label>
        <input type="text" name="title" id="title" value=""><br><br>

        <label for="content">Content</label>
        <input type="text" name="content" id="content" value=""><br><br>

        <button type="submit" name="submit">Tour Add</button>
        </form>
        </div>
                  <% include ../partialadmin/adminfooter %>
    <!-- Right Panel -->
  <% include ../partialadmin/adminscript %>
</body>

</html>



 <!-- <!DOCTYPE html>
<html lang="en" dir="ltr">
<body bgcolor="green">

<h1>Tour</h1>
<form class="" action="/Tour/tourA" method="post">


<label for="categories">Category</label>

<label for="categories">Category</label>
<select class="categories" name="categories">
  <option value="Eat">Popular Place</option>
<option value="Drink">World Heritage Sites</option>

</select><p>
<label for="title">Tittle</label>
<input type="text" name="title" id="title" value=""><br><br>

<label for="content">Content</label>
<input type="text" name="content" id="content" value=""><br><br>

<button type="submit" name="submit">Tour Add</button>
</form>


</body>
</html> -->
