<!-- <!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<% include ../partialadmin/adminhead %>
<body>
    <!-- Left Panel -->
    <% include ../partialadmin/adminsidebar %>
    <!-- Left Panel -->

    <!-- Right Panel -->

    <div id="left-panel" class="left-panel">

        <!-- Header-->
      <% include ../partialadmin/admintopbar %>
      <div class="col-sm-12 bg-danger text-white">
        <!-- Header-->
        <h1>Traveller Essential Add</h1><br><br>
        <form class="" action="/travelleressential/TEssentialadd" method="post" enctype="multipart/form-data">
          <label for="title">Title</label><br>
          <input type="text" name="title" id="title" value=""><br><br><br>
          <label for="content">Content</label><br>
          <textarea name="content" id="content" rows="8" cols="80"></textarea><br><br><br>
          <label for="photo">Photo</label><br>
          <input type="file" name="photo" id="photo" value=""><br><br><br>
        <button type="submit" name="submit">Add</button><br><br><br><br>
        </form>
        </div>
                  <% include ../partialadmin/adminfooter %>
    <!-- Right Panel -->
  <% include ../partialadmin/adminscript %>
</body>

</html>
