


 <!DOCTYPE html>
<html lang="en" dir="ltr">
<body bgcolor="green">

<h1>Eat </h1>
<form class="" action="/Eat/eat" method="post">


<label for="categories">Category</label>
<select class="categories" name="categories">
  <option value="Eat">Eat</option>
<option value="Drink">Drink</option>

</select><p>

<label for="title">Title</label>
<input type="text" name="title" id="title" value=""><br><br>

<label for="content">Content</label>
<input type="text" name="content" id="content" value=""><br><br>

<button type="submit" name="submit">Eat Add</button>
</form>


</body>
</html>
