


 <!DOCTYPE html>
<html lang="en" dir="ltr">
<body bgcolor="green">

<h1>Eat</h1>
<form class="" action="/Eat/eat" method="post">


<label for="categories">Category</label>
<input type="text" name="categories"  id="categories" value=""><br><br>

<label for="title">Title</label>
<input type="text" name="title" id="title" value=""><br><br>

<label for="content">Content</label>
<input type="text" name="content" id="content" value=""><br><br>

<button type="submit" name="submit">Eat Add</button>
</form>


</body>
</html>  
