<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<% include ../partialadmin/adminhead %>

<body>
    <!-- Left Panel -->

<% include ../partialadmin/adminsidebar %>

    <!-- Left Panel -->

    <!-- Right Panel -->
<!-- /header -->
        <!-- Header-->

  <% include ../partialadmin/admintopbar %>

        <div class="content mt-3">
            <div class="animated fadeIn">
                <div class="row">

                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header bg-danger text-white">
                                <strong class="card-title">Eat & Drink Update</strong>
                            </div>
                            <div class="card-body bg-danger text-white">
                              <h1>Eat and Drink update</h1><br>
                              <form  action="/Eat/eatupdate" method="post" enctype="multipart/form-data" >
                                <input type="hidden" name="id" value="<%=Eat._id %>"><p>
                                <label for="categories">categories</label><br>
                                <input type="text" name="categories"id="categories" value="<%= Eat.categories%>"><br><br>
                                <label for="title">Title</label><br>
                                <input type="text" name="title" id="title" value="<%= Eat.title%>"><br><br>
                                <label for="content">content</label><br>
                                <textarea name="content" id="content" rows="8" cols="80"><%=Eat.content%></textarea><br><br>
                                <label for="photo">profile</label><br>
                                <input type="file" name="photo" value=""><br><br><br>
                                <button type="submit" name="button"> Update</button><br><br><br><br>
                              </form>
                            </div>
                        </div>
                    </div>


                </div>
            </div><!-- .animated -->
        </div><!-- .content -->


    </div><!-- /#right-panel -->

    <!-- Right Panel -->


  <% include ../partialadmin/adminscript %>

</body>

</html>
