<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>See & Do Add</title>
  </head>
  <body>
    <form class="" action="/seeAdo/SeeADoadd" method="post">
      <label for="categories">Categories</label><p>
      <input type="text" name="categories" id="categories" value=""><br>
      <label for="title">Title</label><p>
        <input type="text" name="title" id="title" value=""><br>
      <label for="content">Content</label><p>
      <textarea name="content" id="content" rows="8" cols="80"></textarea><br>
      <button type="submit" name="submit">Add</button>
    </form>
  </body>
</html>
