<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Festival And Event</title>
  </head>
  <body>
    <h1>Festival and event</h1>
    <table>
      <thead>
        <th>Categories</th>
        <th>Title</th>
        <th>Content</th>
        <th>Image</th>
      </thead>
      <tbody>
        <% for (var i=0; i<festival.length; i++){%>
          <tr>
            <td><%=festival[i].categories %></td>
            <td><%=festival[i].title %></td>
            <td><%=festival[i].content %></td>
            <td><%=festival[i].imgUrl %></td>
          </tr>

        <%}%>
      </tbody>
    </table>
  </body>
</html>
