<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Traveller Essential</title>
  </head>
  <body>
    <h1>Traveller Essential</h1>
    <table>
      <thead>
        <th>Title</th>
        <th>Content</th>
        <th>Image</th>
      </thead>
      <tbody>
        <% for (var i=0; i<traveller.length; i++){%>
          <tr>
            <td><%=traveller.title %></td>
            <td><%=traveller.content %></td>
            <td><%=traveller.imgUrl %></td>
          </tr>

        <%}%>
      </tbody>
    </table>
  </body>
</html>
