<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Tour</title>
  </head>
  <body>
    <h1>Tour</h1>
    <table>
      <thead>
        <th>Categories</th>
        <th>Title</th>
        <th>Content</th>
        <th>Image</th>
      </thead>
      <tbody>
        <% for(var i = 0; i < tour.length; i++){%>
          <tr>
            <td><%= tour[i].categories %></td>
            <td><%= tour[i].title %></td>
            <td><%= tour[i].content %></td>
            <td><%= tour[i].imgUrl %></td>
          </tr>
        <%}%>
      </tbody>
    </table>
  </body>
</html>
